.screen{
    height: 150px;
    width: 460px;
    padding: 50px 60px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}