.header{
    height: 10vh;
    background-color: #151515;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.page-name{
    height: 100%;
    width: auto;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
