.first-row,
.second-row,
.third-row {
  display: flex;
}

.first-row > * {
  margin-right: 3px; /* Espacio a la derecha de cada elemento */
}

.second-row > * {
  margin-top: 3px; /* Espacio encima de cada elemento */
  margin-right: 3px; /* Espacio a la derecha de cada elemento */
}

.third-row > * {
  margin-top: 3px; /* Espacio encima de cada elemento */
  margin-right: 3px; /* Espacio a la derecha de cada elemento */
}

.fourth-row > * {
  margin-top: 3px; /* Espacio encima de cada elemento */
  margin-right: 3px; /* Espacio a la derecha de cada elemento */
}

.second-row {
  margin-left: 15px;
}

.third-row {
  margin-left: 30px;
}